.table-blue {
  background-color: 0b5091; 
}

.table-blue th {
  background-color: black;
}

.invisible {
  
}

.stevie {
  height: 100%;
  width: 100%;
  background-image: url(Stevie p in a taxi.png);  
  background-size: cover;
}

th:not(:last-child), td:not(:last-child) { border-right: 1px solid #000; }
