.logo {
  min-height: 20%;
  width: 100%;
  background: #f5c13f;
  background-image: url(CarlsPool.png);
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center;
}
